html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .yuji-syuku-regular {
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
  }

  .goudy-bookletter-1911-regular {
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  body {
    background-color: #F2EDEC;
  }

.title {
  padding-top: 5%;
  text-align: center;
  font-family: "Yuji Syuku", "Goudy Bookletter 1911", serif;;
  color: #1b1725;
}

.menu {
display: inline;
text-align: center;
}

.menu__tabs {
margin-top: 5%;
margin-bottom: 0;
text-align: center;
}

.tabs {
  margin: 3% 1%;
  padding: 2px 3%;
  border: none;
  font-family: "Yuji Syuku", "Goudy Bookletter 1911", serif;;
  font-size: 20px;
  font-weight: bold;
  color: #1b1725;
}  

.tabs:hover {
  box-shadow: 0px 0px 2px 2px rgba(171, 171, 171, 0.2);
}

a {
  font-size: 20px;
  font-weight: bold;
  color: #1b1725;
  margin: 5%;
}
  
a:hover {
  color: #734A12;
}


.page {
  background-color: #FFF9F8;
  margin: 0 10% 1% 10%;
  padding: 10px;
  border-radius: 1%;
  color: #1b1725;
  font-family: "Yuji Syuku", "Goudy Bookletter 1911", serif;;
}

.footer {
  font-family: "Yuji Syuku", "Goudy Bookletter 1911", serif;
  color: #1b1725;
  text-align: center;
}


/*
***********************************************************************
Úvodní stránka
***********************************************************************
*/



.page__menu {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0,5fr 1fr;
  gap: 5%;
}

.page-menu__title {
  margin: 5%;
  grid-column-start: 1;
  grid-column-end: 4;
}

.button img {
  width: 100%;
  padding: 0;
  border-radius: 10%;
}

.button {
  font-size: 20px;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 10%;
  box-shadow: 0px 0px 2px 2px rgba(171, 171, 171, 0.2);
  }

.button:hover {
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 20%);
}




/*
***********************************************************************
RECEPTY
***********************************************************************
*/

.recipe {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 10% 30% 60%;
gap: 5%;
}

.recipe__title {
  font-size: 40px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.recipe__img img {
  width: 75%;
  margin: auto 25%;
  border-radius: 10%;
}

.recipe-ingredients {
  margin: auto 0;
}

.recipe-steps {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 5% 10%;
}