<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bezpekárna</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">

</head>
<body>
    
    <header class="title">
        <h1>Bezpekárna</h1>
    </header>

    <nav class="menu">
        <div class="menu__tabs">
            <button class="tabs">
                <a href="/"> Domů </a>
            </button>

            <button class="tabs">
                <a href="/dalsi_recepty/"> Recepty </a>
            </button>

            <button class="tabs">
                <a href="/dalsi_clanky/"> Články </a>
            </button>
        </div>        
    </nav>

    <section class="page">
        <main>

        {{content | safe}}

        </main>
    </section>  


    <footer class="footer">
        <p>© Zdenka Češpírová, 2024</p>
    </footer>

</body>
</html>